@charset "UTF-8";
@import 'mixins';

.questionnaire {
  max-width: 690px;
  min-height: 350px;

  @include mobile {
    max-width: 100%;
    min-height: 300px;
  }


  &-body {
    min-height: 300px;
  }

  &-title {
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 45px;
    width: 100%;
    text-transform: none;
    font-weight: 600;
    margin-top: 8px;
    border: none;

    @include mobile {
      font-size: 22px;
      margin-bottom: 5px;
      line-height: 24px;
    }

    @include tablet {
      font-size: 23px;
      margin-bottom: 15px;
    }

    &__required-sign {
      color: red;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  &-sub-title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
  }

  &-footer {
    margin-top: 80px;

    &__bottom {
      display: flex; /* Equivalent to Tailwind 'flex' */
      justify-content: space-between;
      margin-top: 15px;
    }

    &__left {
      display: flex;
      align-items: center;

      &-text {
        font-size: 18px;
        @include mobile {
          font-size: 16px;
        }
      }
    }

    &__next-btn {
      background-color: #6CC4CD;
      color: white;
      height: 45px;
      width: 130px;
      font-size: 16px;
      border: none;
      border-radius: 30px;

      @include mobile {
        height: 40px;
        width: 90px;
      }


    }

    &__prev-btn {
      background-color: #EBEBEB;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      margin-right: 8px;

      @include mobile {
        width: 35px;
        height: 35px;
      }

      &-arrow {
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);

        @include mobile {
          padding: 3px;
        }
      }
    }
  }

  .questionnaire-validation-message {
    color: #cc0000;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */
{
  opacity: 0;
}

input:disabled ~ label {
  cursor: not-allowed;
}


@import "questions/mainGoal";
@import "questions/text";
@import "questions/checkbox";
@import "questions/radio";
@import "questions/select";
@import "questions/sports";
@import "questions/date";
@import "questions/gender";
@import "../../components/questionnaire/loader";
@import "../../components/questionnaire/progressBar";
@import "../../components/questionnaire/tooltip";