.datepicker {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .vdp-datepicker__calendar {
    top: 25px;
  }

  &::after {
    content: '';
    position: absolute;
    right: 80px; /* Adjust as needed */
    top: 0;
    bottom: 0;
    width: 40px; /* Adjust as needed */
    background-color: #EFEFEF;
  }

  @include mobile {
    margin-top: 15px;
  }

  @include tablet {
    margin-top: 15px;
  }

  &-input {
    input {
      display: none;
    }
  }

  .date-input {
    width: 100%;
    padding: 15px 45px 15px 15px;
    background-color: #EFEFEF;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 2px 52px -36px rgba(0, 0, 0, 0.75);
    font-size: 14px;
    position: relative;
    border: none;
    cursor: pointer;

    &:focus {
      border: none;
      outline: none;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(152, 203, 232, 0.6);
    }
  }

  &-icon {
    background-color: #6CC4CD;
    width: 50px;
    align-self: stretch;
    border-radius: 0 10px 10px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &-icon i {
    color: #FFFFFF;
  }
}