.gender-radio {
  .gender-radio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &-item {
      width: 50%;
      padding: 6px;


      @include mobile {
        width: 100%;
        padding: 6px;
      }

      @include tablet {
        width: 100%;
        padding: 6px;
      }
    }
  }

  .gender-radio-label {
    width: 100%;
    padding: 55% 15px 15px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 52px -36px rgba(0, 0, 0, 0.75);
    font-size: 21px;
    line-height: 26px;
    position: relative;
    color: #fff;
    transition: transform 0.4s ease;

    &.male {
      background-color: #6CC4CD;

      &:after {
        content: "";
        width: 62px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../images/icons/male.svg);
      }
    }

    &.female {
      background-color: #E6007E;

      &:after {
        content: "";
        width: 62px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../images/icons/female.svg);
      }
    }
  }

  .gender-radio-input {
    display: none;

    &:checked ~ label {
      transform: scale(1.03);

      &:before {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        top: 25px;
        right: 18px;
        background-image: url(../images/icons/checkmark.svg);
      }
    }
  }
}