.user-dropdown {
  @media screen and (max-width: 991px) {
    order: -1;
  }

  &-toggle {
    cursor: pointer;
    border: none;
    background: transparent;
    border-radius: 50%;
  }

  &-img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    background: url('/images/icons/Account.svg') no-repeat center/cover;
    transition: background 0.3s ease;
  }

  .dropdown-menu {
    border-radius: 10px;
    padding: 12px;
    background-color: $pink;
    transition: all 0.4s ease;
    width: auto;
    min-width: unset;
    top: 63px;
    right: -15px;
    left: auto;
    @media screen and (max-width: 991px) {
      display: none !important;
    }

    &:after {
      content: '';
      border-style: solid;
      border-width: 0 20px 20px 20px;
      border-color: transparent transparent $pink transparent;
      position: absolute;
      top: -9px;
      right: 20px;
    }

    a {
      color: $white;
      font-size: 18px;
      font-weight: 600;
      display: flex;
      padding: 0;

      &:hover {
        background-color: $pink;
        color: #fff;
        text-decoration: underline;
      }
    }

    .logout {
      a {
        &:before {
          background-image: url("/images/icons/logout-sign.svg");
        }
      }
    }
  }

  &.open {
    .img {
      background-image: url("/images/icons/Account-active.svg");
    }
  }
}

@media screen and (min-width: 992px) {
  .user-name {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .user-name {
    text-align: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 17px;
    color: $black;
    padding: 7px;
    width: 100%;
  }
}

@media (min-width: 767px) {
  .user-dropdown .dropdown-menu a {
    padding: 6px 0px;
  }
}

@media(max-width: 768px) {
  .user-dropdown {
    position: static;

    &.open {
      .dropdown-menu {
        display: flex;
      }
    }

    .dropdown-menu {
      width: 100%;
      top: 50px;
      left: 0;
      right: auto;
      border-radius: 0;
      align-items: center;
      justify-content: space-between;
      padding: 6px 15px;

      &:after {
        display: none;
      }

      .settings {
        margin-right: 15px;
      }

      a {
        color: $pink;
        font-size: 0;

        &:before {
          margin: 0;
        }
      }

      &:after {
        right: 13px;
      }
    }
  }
}
