.btn-close:not(.close) {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;

  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('/images/icons/close.svg') no-repeat center /cover;
  }
}
