// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "../vendor/bootstrap/fonts/" !default;
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;
$grid-float-breakpoint: 992px;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//site colors
$black: #000;
$white: #fff;
$pink: #e6007e;
$light-pink: #FFF6EE;
$light-pink: #faf5f8;
$medium-pink: #FAD7EA;
$tiffany: #0abab5;
$theme-gray: #f2f2f2;

// OVERRIDING VENDOR VARIABLES
// --------------------------
// FontAwesome
$fa-font-path: "../vendor/font-awesome" !default; // !global

// Css variables
:root {
  --body-offset-top: 120px; // set to fit stretching header without major layout shift
  --header-offset-top: 15px;

  @media screen and (min-width: 991px) {
    --body-offset-top: 180px;
  }
}
