.switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh;

  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;

    &:checked + label {
      background: #bada55;
    }

    &:checked + label:after {
      left: calc(100% - 1px);
      transform: translateX(-100%);
    }
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 37px;
    height: 22px;
    background: grey;
    display: block;
    border-radius: 22px;
    position: relative;
    margin: 0;

    &:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 20px;
      transition: 0.3s;
    }

    &:active:after {
      width: 130px;
    }
  }
}
