h2 {
  color: #000;
  font-weight: 500;
  font-family: Nunito Sans, sans-serif;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  &-item {
    position: relative;
    margin: 20px 20px 30px 20px;
  }
}

.ribbon {
  width: 120px;
  height: 120px;
  text-align: center;

  span {
    top: 35px;
    left: -35px;
    width: 170px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
  }
}

.course-card {
  position: relative;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #000;
  transition: 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 72, 112, 0);
    transition: 0.3s;
  }

  &-container {
    height: 200px;
  }

  &-button {
    position: relative;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translateY(-200px);
    transition: 0.3s;
  }
}

.course-card-button .subbtn {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-family: Nunito Sans, sans-serif;
  text-decoration: none;

  &:hover {
    background: white;
    border: 0 solid white;
    color: #0a4870;
  }
}

.course-card-info-container {
  flex: 1 0 auto;
  padding: 20px;
  background: #f0f0f0;
  transform: translateY(206px);
  transition: 0.3s;
}


//.textinfo {
//  font-family: Nunito Sans, sans-serif;
//  color: #ffffff;
//  text-transform: uppercase;
//  font-size: 14px;
//}

.course-title {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: Nunito Sans, sans-serif;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 50px;
    margin: auto;
    background: #0a4870;
  }
}


.heading-text {
  font-size: 24px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.vertical-text {
  display: flex;
  flex-direction: column;
}

.course-card-info-details {
  opacity: 0;
  transition: 0.3s;

  &-container {
    display: flex;
    margin-bottom: 20px;
  }
}

.course-details-box {
  padding: 5px;
  margin-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  font-size: 0.9em;

  &-info {
    color: #ec992c;
    margin-right: 10px;
    font-family: Nunito Sans, sans-serif;

    &--small {
      width: 85px;
    }

    &--big {
      width: 200px;
    }
  }
}

.course-details {
  &-day, &-days {
    font-size: 18px;
  }

  &-duration {
    font-size: 24px;
    font-weight: 700;
  }
}

//ul .course-card .course-card-info-container .course-card-info-details .info-container .box .icon {
//  margin-bottom: 5px;
//}
//sssssssssss

.course-description {
  font-size: 0.8em;
  color: #7d7d7d;
  font-family: Raleway, sans-serif;
}

.course-card:hover {
  &::before {
    background: rgba(10, 72, 112, 0.6);
  }

  .course-card-button {
    opacity: 1;
    transform: translateY(0px);
  }

  .course-card-info-container {
    transform: translateY(0px);
  }

  .course-card-info-details {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .course-card::before {
    background: rgba(10, 72, 112, 0.6);
  }

  .course-card-button {
    opacity: 1;
    transform: translateY(0px);
  }

  .course-card-info-container {
    transform: translateY(0px);
  }

  .course-card-info-details {
    opacity: 1;
  }
}

//.book-container-link {
//  border: 3px solid white;
//  padding: 10px 15px;
//  background: none;
//  text-transform: uppercase;
//  font-weight: bold;
//  font-size: 1.3em;
//  color: white;
//  cursor: pointer;
//  transition: 0.3s;
//  font-family: Nunito Sans, sans-serif;
//  text-decoration: none;
//}
//
//.book-container-link:hover {
//  text-decoration: none;
//  color: #0a4870;
//  background: white;
//  border: 0 solid white;
//}

.btn-orange {
  color: #000;
  border: 1px solid #ec992c;

  &:hover {
    color: #fff;
    background: #ec992c;
  }

  transition: all 0.16s ease-in-out;
}
